@using WebServices.Models;
@{
    ViewBag.Title = "JsonPH";
    List<Post> posts = new List<Post>();
    if (ViewBag.Result != null)
    {
        posts = ViewBag.Result;
    }
}

<h2>JsonPH</h2>
<div class="container">
    <div>
        <span>Link:<a>https://jsonplaceholder.typicode.com/comments?postId=5</a></span> <br />
        <span><button class="btn btn-default" id="gor">Return Values</button></span><br /> <br /> <br />
        <div>
            <table border="1">
                @foreach (var item in posts)
                {
                    <tr>
                        <td>PostId=@item.postId;</td>
                        <td>Id=@item.id;</td>
                        <td>Name=@item.name;</td>
                        <td>Email=@item.email;</td>
                        <td>Body=@item.body;</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>


@section JsonPH{
    <script>
        debugger;
        var x;
        $("#gor").click(function () {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                url: "https://jsonplaceholder.typicode.com/comments?postId=" + "5",
                success: function (d) {
                    var y = JSON.stringify(d = d);

                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        url: "/Home/JsonPH",
                        data: y
                    });
                }
            });
        });



    </script>
}

